---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

.research-container {
    display: flex;
    flex-direction: column;
}

.research-item {
    border: 1px solid var(--research-border-color);
    border-radius: 3pt;
    padding: 6pt;
    margin-bottom: 6pt;
}

.research-authors {
    font-style: italic;
    font-size: 90%;
    margin-top: -8pt;
}
.research-conference {
    font-size: 90%;
    margin-top: -8pt;
}


.experience-dates {
    font-size: 90%;
}