---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

.research-container {
    display: flex;
    flex-direction: column;
}

.research-item {
    border: 1px solid var(--research-border-color);
    border-radius: 3pt;
    padding: 6pt;
    margin-bottom: 6pt;
}

.research-authors {
    font-style: italic;
    font-size: 90%;
    margin-top: -8pt;
}
.research-conference {
    font-size: 90%;
    margin-top: -8pt;
}


.experience-dates {
    font-size: 90%;
}


.center {
    text-align: center;
}


.card img {
    max-width: 100%;
}

@media (max-width: 480px) {
    .card-header {
        margin-top: 1.5rem;
    }
    .post-title {
        font-size: 2rem;
    }
}