---
layout: default
---


<div class="row">
    <div class="col-lg-6 offset-md-3">
        <div class="card">
                <h1 class="card-title">Bitcoin</h1>
                <p>My current research interest is: Bitcoin, smart contracts, cryptography, protocols. I have a lot to learn.</p>
                <p>I am particularly interested in techniques that enhance Bitcoin's smart contract capabilities without compromising on fundamental properties like scalability and decentralization.</p>
                <p>While a lot of useful and great ideas are first explored in altcoins, I'm convinced that most of them will eventually find their way into Bitcoin, without requiring substantial changes to the base layer.</p>
                <p>Layer two solutions (lightning and beyond), sidechains, covenants and possibly extensions to Bitcoin's scripting language.</p>
                <div class="research-container">
                    <div class="research-item">
                        <p class="research-title">
                            <a href="https://github.com/bigspider/accumulator/blob/master/docs/paper-draft.pdf">Fast hash-based additive accumulators (draft)</a>
                            &nbsp;-&nbsp;
                            <a href="http://github.com/bigspider/accumulator">
                                <i class="fab fa-github"></i>
                                code
                            </a>
                        </p>
                        <p class="research-description">
                            In this work (in progress), I explore a class of cryptographic accumulators that I believe has the potential to allow for extensions of Bitcoin's scripting capabilities, without sacrificing on the fundamental properties that make it easy for anyone to run a full node. These accumulators only allow to add elements to a set, and are cheap to maintain (should they become part of the consensus rules), while moving the cost of proving set membership to the interested parties. Therefore, while the "state" grows arbitrarily, no validating nodes needs to hold more than a short "summary" of it.
                        </p>
                        <p class="research-description">
                            While an append-only state is less flexible than a key-value store (as in Ethereum), I believe that many of the interesting protocols using smart contracts can be adapted to use an append-only state managed by an accumulator.
                        </p>
                        <p class="research-description">
                            This will be the topic of further exploration (any comment or insight is greatly appreciated).
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-md-3">
        <div class="card">
            <h1 class="card-title">Algorithms</h1>
            <p>During my PhD at IDSIA, I focused on the field of <em>Approximation Algorithms</em>, advised by Fabrizio Grandoni.</p>
            <p>Basically: take some hard optimization problems (usually NP-hard). How close can we get to the optimal solution with an efficient algorithm?</p>
            <p>It is a branch of theoretical computer science that attempts to classify <em>how hard</em> problems are, from a rather theoretical point of view.</p>
            <p>A common theme among the optimization problems I worked on during my PhD is that they are a little geometric in nature, as they often involve (or can be connected to) placing some rectangles inside some larger containers while trying to maximize or minimize something.</p>
            <p>In <a href="/assets/downloads/thesis_rectangle_packing.pdf">my thesis</a> I tried to put all the three works under the same common thread.</p>
            <div class="research-container">
                <div class="research-item">
                    <p class="research-title"><a href="/assets/downloads/2DGK-FOCS-full.pdf">Approximating Geometric Knapsack via L-packings</a></p>
                    <p class="research-authors">with Waldo Gálvez, Fabrizio Grandoni, Sandy Heydrich, Arindam Khan and Andreas Wiese</p>
                    <p class="research-conference">FOCS, Berkeley, California, 15—17 October 2017.</p>
                    <!-- <p class="research-description">
                        TODO
                    </p> -->
                </div>
                <div class="research-item">
                    <p class="research-title"><a href="/assets/downloads/StripPacking-FSTTCS.pdf">Improved Pseudo-Polynomial-Time Approximation for Strip Packing</a></p>
                    <p class="research-authors">with Waldo Gálvez, Fabrizio Grandoni and Arindam Khan</p>
                    <p class="research-conference">FSTTCS, Chennai, India, 13—15 December 2016.</p>
                    <!-- <p class="research-description">
                        TODO
                    </p> -->
                </div>
                <div class="research-item">
                    <p class="research-title"><a href="/assets/downloads/TimeWindowUFP-WAOA.pdf">Improved Approximation Algorithms for Unsplittable Flow on a Path with Time Windows.</a></p>
                    <p class="research-authors">with Fabrizio Grandoni and Sumedha Uniyal</p>
                    <p class="research-conference">WAOA, Patras, Greece, 17—18 September 2015.</p>
                    <!-- <p class="research-description">
                        TODO
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
