---
layout: default
---


<div class="row">
    <div class="col-lg-6 offset-md-3">
        <div class="card">
                <h1 class="card-title">Bitcoin</h1>
                <p>My current research interest is: Bitcoin, smart contracts, cryptography, protocols. I have a lot to learn.</p>
                <p>
                    Fast hash-based additive accumulators.
                </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-md-3">
        <div class="card">
                <h1 class="card-title">Algorithms</h1>
                <p>During my PhD at IDSIA, I focused on the field of <em>Approximation Algorithms</em>.</p>
                <p>Basically: take some hard optimization problems (usually NP-hard). How close can we get to the optimal solution with an efficient algorithm?</p>
                <p>It is a branch of theoretical computer science that attempts to classify <em>how hard</em> problems are, from a rather theoretical point of view.</p>
        </div>
    </div>
</div>
